# Langage Python et requêtes SQL

Nous allons commencer par travailler sur les requêtes SQL effectuées depuis un programme Python.

## La bibliothèque sqlite3

Créez un répertoire **projet\_bd**, puis créez le fichier Python ci-dessous :

In [ ]:
import sqlite3

conn = sqlite3.connect('baseDonnees.db')
cur = conn.cursor()

cur.execute("CREATE TABLE LIVRES(id INT, titre TEXT, auteur TXT, ann_publi INT, note INT)")

conn.commit()

cur.close()
conn.close()

Analysons le programme ci-dessus.

Ce programme va vous permettre de vous "connecter" à une base de données (si cette dernière n'existe pas, elle sera créée). 

Ensuite nous créons une table (une relation) nommée **LIVRES**, cette table contient 4 attributs : 
*id (de type entier)*, *titre (de type texte)*, *auteur (de type texte)*, *ann_publi (de type entier)* et *note (de type entier)*.

Entrons un peu dans les détails en analysant le programme ligne par ligne :


**import sqlite3**



Nous commençons par importer la bibliothèque **sqlite3**.

 Cette bibliothèque va nous permettre d'effectuer des requêtes SQL sur une base de données.

Comme dans le cours sur les bases de données, nous utiliserons le **SGBD SQLite**.


**conn = sqlite3.connect('baseDonnees.db')
cur = conn.cursor()**



Nous créons un objet de type *"connection"* (conn) qui va nous permettre d'interagir avec la base de données **"baseDonnees.db"** (comme dit plus haut, si cette base de données n'existe pas, elle est créée).

 Vous devriez donc avoir un fichier **"baseDonnees.db"** dans le même répertoire que votre fichier Python.

Nous créons ensuite un objet de type *"cursor"* à partir de l'objet de type *"connection"*.

 Cet objet de type *"cursor"* va nous permettre de manipuler la base de données et d'obtenir des résultats lorsque nous effectuerons des requêtes.
 
**cur.execute("CREATE TABLE LIVRES(id INT, titre TEXT, auteur TXT, ann_publi INT, note INT)")**


La méthode *"execute"* de notre objet de type *"cursor"* nous permet d'effectuer une requête SQL. 

Cette requête SQL est en tout point identique à ce que nous avons vu dans le cours sur les bases de données.


**conn.commit()**


Pour véritablement exécuter les requêtes, il est nécessaire d'appliquer la méthode *"commit"* à l'objet de type *"connection"*.

**cur.close()
conn.close()**


Avant de terminer le programme, il nécessaire de "fermer" l'objet de type "cursor" et l'objet de type *"connection"*.

Nous allons systématiquement retrouver cette structure dans nos futurs programmes :

- création d'un objet de type *"connection"*
- création d'un objet de type *"cursor"*
- préparation d'une ou plusieurs requête(s) (méthode *"execute"* sur l'objet de type *"cursor"*)
- exécution réelle des requêtes (méthode *"commit"* sur l'objet de type *"connection"*)
-  "fermeture" de l'objet de type *"cursor"* puis de l'objet de type *"connection"*

Si vous exécutez une deuxième fois le premier programme proposé, vous aurez droit à une erreur : "*OperationalError: table LIVRES already exists*". 

Afin d'éviter ce genre de problème, il est possible de modifier le programme afin que la requête de création de la table LIVRES ne se fasse pas si la table LIVRES existe déjà.

Après avoir effacé le fichier "**baseDonnees.db**", modifiez votre code python comme indiqué ci-dessous, puis exécutez-le.

In [ ]:
import sqlite3

conn = sqlite3.connect('baseDonnees.db')
cur = conn.cursor()

cur.execute("CREATE TABLE IF NOT EXISTS LIVRES(id INT, titre TEXT, auteur TXT, ann_publi INT, note INT)")

conn.commit()

cur.close()
conn.close()

Comme vous pouvez le constater, si vous exécutez le programme plusieurs fois de suite, il n'y a plus d'erreur.

Ouvrez le fichier "**baseDonnees.db**" à l'aide du logiciel "**DB Browser for SQLite**" et vérifiez que la table **LIVRES** a bien été créée.

## Enregistrement des données
Maintenant que notre table **LIVRES** a été créée, nous allons pouvoir commencer à la "remplir" avec des données.

### Enregistrement direct

Modifiez votre code python comme indiqué ci-dessous, puis exécutez-le.

In [ ]:
import sqlite3

conn = sqlite3.connect('baseDonnees.db')
cur = conn.cursor()

cur.execute("CREATE TABLE IF NOT EXISTS LIVRES(id INT, titre TEXT, auteur TXT, ann_publi INT, note INT)")
cur.execute("INSERT INTO LIVRES(id,titre,auteur,ann_publi,note) VALUES(1,'1984','Orwell',1949,10)")

conn.commit()

Rien de particulier à signaler, la requête **INSERT** est identique à ce qui a été vu dans le cours sur les bases de données.

Ouvrez le fichier "**baseDonnees.db**" à l'aide du logiciel **"DB Browser for SQLite"** et vérifiez que les données ont bien été ajoutées à la table LIVRES.

Nous avons inclus les données à insérer directement dans la requête.

### Enregistrement indirect

 Il est possible de procéder autrement en séparant les données à insérer et la requête (cela s'avérera particulièrement pratique dans le futur)
 
Après avoir effacé le fichier "**baseDonnees.db**", modifiez votre code python comme indiqué ci-dessous, puis exécutez-le.

In [ ]:
import sqlite3

conn = sqlite3.connect('baseDonnees.db')
cur = conn.cursor()

data = (1,'1984','Orwell',1949,10)

cur.execute("CREATE TABLE IF NOT EXISTS LIVRES(id INT, titre TEXT, auteur TXT, ann_publi INT, note INT)")
cur.execute("INSERT INTO LIVRES(id,titre,auteur,ann_publi,note) VALUES(?, ?, ?, ?, ?)", data)
conn.commit()

cur.close()
conn.close()

Première chose à remarquer, nous avons créé un tuple (*data*) contenant toutes les informations.

 En effet, la méthode "*execute*" peut prendre un deuxième paramètre un tuple contenant les données à insérer.
 
  Les points d'interrogation présents dans la requête indiquent l'emplacement des données à insérer. 
  
  Le premier ? sera remplacé par le premier élément du tuple (dans notre cas 1), le deuxième ? sera remplacé par le deuxième élément du tuple (dans notre cas '1984') et ainsi de suite...
  
### Enregistrement d'une liste de tuples

 Si l'on désire insérer plusieurs données, il est possible de regrouper toutes les données à insérer dans un tableau et d'utiliser la méthode "*executemany*" à la place de la méthode "*execute*".
  
  Après avoir effacé le fichier "**baseDonnees.db**", modifiez votre code python comme indiqué ci-dessous, puis exécutez-le.

In [ ]:
import sqlite3

conn = sqlite3.connect('baseDonnees.db')
cur = conn.cursor()

datas = [
    (1,'1984','Orwell',1949,10),
    (2,'Dune','Herbert',1965,8),
    (3,'Fondation','Asimov',1951,9),
    (4,'Le meilleur des mondes','Huxley',1931,7),
    (5,'Fahrenheit 451','Bradbury',1953,7),
    (6,'Ubik','K.Dick',1969,9),
    (7,'Chroniques martiennes','Bradbury',1950,8),
    (8,'La nuit des temps','Barjavel',1968,7),
    (9,'Blade Runner','K.Dick',1968,8),
    (10,'Les Robots','Asimov',1950,9),
    (11,'La Planète des singes','Boulle',1963,8),
    (12,'Ravage','Barjavel',1943,8),
    (13,'Le Maître du Haut Château','K.Dick',1962,8),
    (14,'Le monde des Ā','Van Vogt',1945,7),
    (15,'La Fin de l’éternité','Asimov',1955,8),
    (16,'De la Terre à la Lune','Verne',1865,10)
 ]

cur.execute("CREATE TABLE IF NOT EXISTS LIVRES(id INT, titre TEXT, auteur TXT, ann_publi INT, note INT)")
cur.executemany("INSERT INTO LIVRES(id,titre,auteur,ann_publi,note) VALUES(?, ?, ?, ?, ?)", datas)
conn.commit()

cur.close()
conn.close()

Ouvrez le fichier "**baseDonnees.db**" à l'aide du logiciel "**DB Browser for SQLite**" et vérifiez que les données ont bien été ajoutées à la table LIVRES.

### Incrémentation d'un attribut

 Il n'est pas très pratique d'avoir à gérer l'id (clé primaire).

 En effet, si je veux ajouter un nouveau livre, il faudra que je connaisse l'id du précédent (incrémentation de l'id).
 
  Heureusement, il est possible d'automatiser cette incrémentation.
  
  
  Après avoir effacé le fichier "**baseDonnees.db**", modifiez votre code python comme indiqué ci-dessous, puis exécutez-le.

In [ ]:
import sqlite3

conn = sqlite3.connect('baseDonnees.db')
cur = conn.cursor()

datas = [
    ('1984','Orwell',1949,10),
    ('Dune','Herbert',1965,8),
    ('Fondation','Asimov',1951,9),
    ('Le meilleur des mondes','Huxley',1931,7),
    ('Fahrenheit 451','Bradbury',1953,7),
    ('Ubik','K.Dick',1969,9),
    ('Chroniques martiennes','Bradbury',1950,8),
    ('La nuit des temps','Barjavel',1968,7),
    ('Blade Runner','K.Dick',1968,8),
    ('Les Robots','Asimov',1950,9),
    ('La Planète des singes','Boulle',1963,8),
    ('Ravage','Barjavel',1943,8),
    ('Le Maître du Haut Château','K.Dick',1962,8),
    ('Le monde des Ā','Van Vogt',1945,7),
    ('La Fin de l’éternité','Asimov',1955,8),
    ('De la Terre à la Lune','Verne',1865,10)
 ]

cur.execute("CREATE TABLE IF NOT EXISTS LIVRES(id INTEGER PRIMARY KEY AUTOINCREMENT UNIQUE, titre TEXT, auteur TXT, ann_publi INT, note INT)")
cur.executemany("INSERT INTO LIVRES(titre,auteur,ann_publi,note) VALUES(?, ?, ?, ?)", datas)
conn.commit()

cur.close()
conn.close()

Ouvrez le fichier "**baseDonnees.db**" à l'aide du logiciel "**DB Browser for SQLite**" et vérifiez que les données ont bien été ajoutées à la table LIVRES.

Vous pouvez constater que nous avons bien l'attribut "id", même si ce dernier n'a pas été renseigné dans les données (absence d'id dans le tableau datas).

 Désormais l'id sera incrémenté automatiquement grâce au "**id INTEGER PRIMARY KEY AUTOINCREMENT UNIQUE**" (attention il est nécessaire d'utiliser INTEGER à la place du INT habituel) présent dans la requête de création de la table LIVRES.
 
  Attention, de bien penser à supprimer un ? dans la requête d'insertion (chaque tuple contient maintenant 4 éléments (nous en avions 5 quand l'id n'était pas géré automatiquement)).

### Ajout d'une nouvelle donnée

Il est tout à fait possible de rajouter une nouvelle donnée.

Modifiez votre code python comme indiqué ci-dessous, puis exécutez-le.

In [ ]:
import sqlite3

conn = sqlite3.connect('baseDonnees.db')
cur = conn.cursor()
nvx_data = ('Hypérion','Simmons',1989,8)

cur.execute("INSERT INTO LIVRES(titre,auteur,ann_publi,note) VALUES(?, ?, ?, ?)", nvx_data)
conn.commit()

cur.close()
conn.close()

Ouvrez le fichier "**baseDonnees.db**" à l'aide du logiciel "**DB Browser for SQLite**" et vérifiez que les données ont bien été ajoutées à la table LIVRES.

Vous pouvez remarquer que le nouvel enregistrement a bien l'id 17 et que nous n'avons pas eu à nous en occuper.

### Modification d'une nouvelle donnée

Il est possible de modifier des données déjà présentes dans la table.

Modifiez votre code python comme indiqué ci-dessous, puis exécutez-le.

In [ ]:
import sqlite3

conn = sqlite3.connect('baseDonnees.db')
cur = conn.cursor()

modif = (7, 'Hypérion')
cur.execute('UPDATE LIVRES SET note = ? WHERE titre = ?', modif)
conn.commit()

cur.close()
conn.close()

Ouvrez le fichier "**baseDonnees.db**" à l'aide du logiciel "**DB Browser for SQLite**" et vérifiez que les données ont bien été modifiées dans la table LIVRES.

Comme vous pouvez le constater, il est possible d'utiliser la clause **WHERE** avec un ?


### Suppression d'une donnée

Il est aussi possible de supprimer une donnée.

Modifiez votre code python comme indiqué ci-dessous, puis exécutez-le.

In [ ]:
import sqlite3

conn = sqlite3.connect('baseDonnees.db')
cur = conn.cursor()

suppr = ('Hypérion',)
cur.execute('DELETE FROM LIVRES WHERE titre = ?', suppr)
conn.commit()

cur.close()
conn.close()

Ouvrez le fichier "**baseDonnees.db**" à l'aide du logiciel "**DB Browser for SQLite**"  et vérifiez que l'entrée "Hypérion" a été supprimée de la table LIVRES.

Attention, le deuxième paramètre de la méthode "*execute*" doit être un tuple, si on écrit seulement *suppr = ('Hypérion')*, *suppr* est une chaîne de caractères et pas un tuple.

 Pour avoir un tuple avec un seul élément il est nécessaire d'ajouter une virgule (d'où le *suppr = ('Hypérion',)*)?
 
 
## Requêtes de type "SELECT"

Saisissez le programme ci-dessous, puis exécutez-le.

In [ ]:
import sqlite3

conn = sqlite3.connect('baseDonnees.db')
cur = conn.cursor()

cur.execute('SELECT * FROM LIVRES')
conn.commit()

liste = cur.fetchall()
print(liste)
cur.close()
conn.close()

Comme vous pouvez le constater, la variable liste est un tableau qui contient des tuples.

 Chaque tuple est un enregistrement de la table LIVRES.
 
  La méthode "*fetchall*" d'un objet de type "*cursor*" renvoie un tableau contenant des tuples
  
**Il est possible d'avoir des requêtes plus sélectives**.
  
  Modifiez votre code python comme indiqué ci-dessous, puis exécutez-le.

In [ ]:
import sqlite3

conn = sqlite3.connect('baseDonnees.db')
cur = conn.cursor()

cur.execute('SELECT titre, ann_publi FROM LIVRES WHERE ann_publi < 1970')
conn.commit()

liste = cur.fetchall()
print(liste)
cur.close()
conn.close()

Vous pouvez constater que l'on obtient bien un tableau contenant des tuples (nous avons bien des tuples même si seuls les titres ont été sélectionnés)

**Il est possible d'utiliser les points d'interrogation dans une requête de type SELECT.**

Modifiez votre code python comme indiqué ci-dessous, puis exécutez-le.

In [ ]:
import sqlite3

conn = sqlite3.connect('baseDonnees.db')
cur = conn.cursor()

recherche = (1960, 8)

cur.execute('SELECT titre, ann_publi, note FROM LIVRES WHERE ann_publi < ? AND note > ?', recherche)
conn.commit()

liste = cur.fetchall()
print(liste)

cur.close()
conn.close()

# Un SGBD en Python

Nous allons créer la base de données **Livres** à l'aide d'un script Python.

Puis nous envisagerons la possibilité de lire des données, modifier des données.

## Ajout de données

Recopiez le code ci-dessous où l'on crée la base de données puis testez le choix 1.

In [ ]:
import sqlite3
conn = sqlite3.connect('baseDonneesLivres.db')

def menu():
    print(' 0-Quitter \n 1- Ajouter un livre \n 2-Rechercher  un livre \n 3-Modifier une donnée')


def ajout():
    conn = sqlite3.connect('baseDonneesLivres.db')
    cur = conn.cursor()
    titre = input("Titre : ")
    auteur = input("Auteur: ")
    ann_publi = int(input("Année de publication : "))
    note = int(input("Note : "))
    nvx_data = (titre, auteur, ann_publi, note)

    cur.execute("CREATE TABLE IF NOT EXISTS LIVRES(id INTEGER PRIMARY KEY AUTOINCREMENT UNIQUE, titre TEXT, auteur TXT, ann_publi INT, note INT)")
    cur.execute('SELECT * FROM LIVRES WHERE titre= ? AND auteur=? AND ann_publi=? AND note=?', nvx_data)

    liste = cur.fetchall()
    if len(liste)==0:
        cur.execute("INSERT INTO LIVRES(titre,auteur,ann_publi,note) VALUES(?, ?, ?, ?)", nvx_data)
        conn.commit()
    cur.close()
    conn.close()

def menuLecture():
    print(' 1- Recherche par auteur \n 2- Recherche par titre\n 3-Recherche par année de publication\n 4-Recherche par note')
    n=int(input("Entrez votre choix : "))
    return n

def lecture():
    n=menuLecture()
    if n==1:
        auteur=input("Entrez l'auteur : ")
        print(lectureAuteur(auteur))
    if n==2:
        titre=input("Entrez le titre : ")
        print(lectureTitre(titre))
    if n==3:
        ann_publi=int(input("Entrez une année : "))
        print(lectureAnnee(ann_publi))
    if n==4:
        note=int(input("Entrez une note : "))
        print(lectureNote(note))




def lectureAuteur(auteur):
    conn = sqlite3.connect('baseDonneesLivres.db')
    cur = conn.cursor()
    recherche = (auteur,)
    cur.execute('SELECT * FROM LIVRES WHERE auteur= ?', recherche)
    conn.commit()
    liste = cur.fetchall()
    cur.close()
    conn.close()
    if len(liste)==0:return "Cet auteur n'existe pas"
    else :return liste



menu()
choix = int(input("Votre choix ? "))

while choix!=0:
    if choix==1:  ajout()
    if choix==2: lecture()
    if choix==3:modif()
    menu()
    choix = int(input("Votre choix ? "))

## Lecture d'une donnée

1. Testez la fonction *lectureAuteur(auteur)* afin de lire une donnée à partir d'un auteur.

1. Créez les fonctions *lectureTitre(titre)*, *lectureAnnee(ann\_publi)* et *lectureNote(note)* afin de pouvoir lire des données à partir d'un titre ou d'une année ou d'une note.


## Modification d'une donnée

Ajouter à votre code les fonctions ci-dessous puis testez la modification du titre.

In [ ]:
def menuModif(t):
    print("Vous voulez modifier\n 1- Le titre\n 2- L'auteur\n 3- L'année de publication \n 4- La note")
    n=int(input("Entrez votre choix : "))
    return n

def modif():
    titre=input("Entrez le titre : ")
    t=lectureTitre(titre)
    print(t)
    n=menuModif(t)
    conn = sqlite3.connect('baseDonneesLivres.db')
    cur = conn.cursor()
    if n==1:
        nouvTitre=input("Entrez le nouveau titre : ")
        nouv=(nouvTitre,titre)
        cur.execute('UPDATE LIVRES SET titre=? WHERE titre=?',nouv)
        
        
        
    conn.commit()
    cur.close()
    conn.close()

Ajoutez les lignes manquantes afin de pouvoir modifier l'auteur, l'année de publication ou la note.

# Version web

Créez un répertoire nommé *VersionWeb*. Tout ce qui suit sera enregistré dans ce répertoire.

Dans cette partie nous allons reprendre le TP **annuaire téléphonique** fait en 1ère.

À la place du fichier texte nous utiliserons une base de données.

On remplace l'annuaire téléphonique par la base de données *baseDonneesLivres.db*.

## Rappel


- Dans votre répertoire de travail, créez un répertoire nommé **flask**.
- Créez un fichier Python **views.py** (ce fichier devra être sauvegardé dans le répertoire **flask** précédemment créé).

 Saisissez le code suivant dans le fichier **views.py**

In [ ]:
from flask import Flask,render_template,request
import sqlite3
app = Flask(__name__)

@app.route('/')
def index():
    return render_template("index.html")

@app.route('/ajout')
def ajout():
    return render_template("ajout.html")

@app.route('/resultatAjout',methods = ['POST'])
def resultatAjout():
    result = request.form
    t,a,a_p,n= result['titre'],result['auteur'],result['ann_publi'],result['note']
    conn = sqlite3.connect('baseDonneesLivres.db')
    cur = conn.cursor()
    nvx_data = (t, a, a_p, n)
    cur.execute(
    "CREATE TABLE IF NOT EXISTS LIVRES(id INTEGER PRIMARY KEY AUTOINCREMENT UNIQUE, titre TEXT, auteur TXT, ann_publi INT, note INT)")
    cur.execute("INSERT INTO LIVRES(titre,auteur,ann_publi,note) VALUES(?, ?, ?, ?)", nvx_data)
    conn.commit()
    cur.close()
    conn.close()
    return render_template("resultatAjout.html", titre=t,auteur=a,ann_publi=a_p,note=n)

@app.route('/lecture')
def lecture():
    return render_template("lecture.html")
app.run(debug=True)

Dans votre répertoire **Flask**, créez un répertoire **templates**.
 
  Dans ce répertoire **templates**, créez un fichier **index.html**. 
  
  Vous pouvez utiliser l'éditeur **Visual Studio Code**
  
  Saisissez le code HTML ci-dessous dans ce fichier **index.html**

<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Bibliothèque</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
    <h1>Menu</h1>
    <p> <a href="{{ url_for('ajout') }}">Enregistrer un livre</a></p>
    <p> <a href="{{ url_for('lecture') }}">Trouver un livre</a></p>
</body>

</html>

Dans ce même répertoire **templates**, créez les fichiers **ajout.html**, **resultatAjout.html** et **lecture.html**.

### ajout.html

<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Le formulaire ajout</title>
</head>

<body>
    <form action="http://localhost:5000/resultatAjout" method="post">
        <ul>
        <li><label>Titre</label> : <input type="text" name="titre" /></li>
        <li> <label>Auteur</label> : <input type="text" name="auteur" /></li>
        <li> <label>Année de publication</label> : <input type="text" name="ann_publi" /></li>
        <li> <label>Note</label> : <input type="text" name="note" /></li>
    </ul>
        <input type="submit" value="Envoyer" />
    </form>
</body>

</html>

### resultatAjout.html

<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Résultat ajout</title>
</head>

<body>
    <p>Le livre {{titre}} de  {{auteur}} publié l'année {{ann_publi}} avec la note {{note}} a bien été enregistré.</p>
    <p><a href="{{url_for('index')}}" >Retour au menu</a></p>
</body>

</html>

### lecture.html

<!doctype html>
<html lang="fr">
<head>
<meta charset="utf-8">
<title>Lecture</title>
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
<h1>Menu lecture</h1>
<p> <a href="{{ url_for('recherchceTitre') }}">Recherche par titre</a></p>
<p> <a href="{{ url_for('rechercheAuteur') }}">Recherche par auteur</a></p>
<p> <a href="{{ url_for('rechercheAnnPubli') }}">Recherche par année de publication</a></p>
<p> <a href="{{ url_for('rechercheNote') }}">Recherche par note</a></p>
</body>
</html>

Pour créer une feuille de style, vous  créez un répertoire **static** (au même niveau de l'arborescence que le répertoire **templates**) et placer votre fichier **style.css** dans ce répertoire **static**.

h1{
    text-align: center;
}

Après avoir exécuté le programme **views.py**, ouvrez votre navigateur web 

et tapez dans la barre d'adresse **localhost:5000**.

<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Bibliothèque</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
    <h1>Menu</h1>
    <p> <a href="{{ url_for('ajout') }}">Enregistrer un livre</a></p>
    <p> <a href="{{ url_for('lecture') }}">Trouver un livre</a></p>
</body>

</html>

<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Le formulaire ajout</title>
</head>

<body>
    <form action="http://localhost:5000/resultatAjout" method="post">
        <ul>
        <li><label>Titre</label> : <input type="text" name="titre" /></li>
        <li> <label>Auteur</label> : <input type="text" name="auteur" /></li>
        <li> <label>Année de publication</label> : <input type="text" name="ann_publi" /></li>
        <li> <label>Note</label> : <input type="text" name="note" /></li>
    </ul>
        <input type="submit" value="Envoyer" />
    </form>
</body>

</html>

<!doctype html>
<html lang="fr">
<head>
<meta charset="utf-8">
<title>Lecture</title>
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
<h1>Menu lecture</h1>
<p> <a href="{{ url_for('recherchceTitre') }}">Recherche par titre</a></p>
<p> <a href="{{ url_for('rechercheAuteur') }}">Recherche par auteur</a></p>
<p> <a href="{{ url_for('rechercheAnnPubli') }}">Recherche par année de publication</a></p>
<p> <a href="{{ url_for('rechercheNote') }}">Recherche par note</a></p>
</body>
</html>

## Terminer le projet